div {
  border: 0px solid black;
}

a:link {
  color: black;
}
div.header {
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-content: center;
  margin: 0px 0px 10px 0px;
}

.logo {
  margin-left: 20px;
}

.navigation {
  display: inline-flex;
}

div.header li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px 15px 0px 0px;

}
.logo {
  display: inline-flex;
  color: aquamarine;
  display:inline-flex;
  padding: 0px 0px 0px 15px;

}

.logo p {
  display: inline-flex;
  padding: 10px 0px 0px 5px;
}

.monument_valley p, .orca p, .burger p, .washington p, .brooklyn p, .newsbites p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column_large_head {
  display: flex;
}

.column_large_head_image {
    display: flex;
    min-height: 300px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.column_large_head {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.orca {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.earth_spins_image p, .camera_erase_image p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.earth_spins_image {
  min-height: 300px;
  max-width: 285px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}


.burger {
  display: flex;
  flex-direction: column;
}

.camera_erase_image {
  min-height: 300px;
  max-width: 285px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}



.medium {
  width: 300px;
  display: flex:
  flex-direction: column;
}

.cats_image{
  display: flex;
  min-height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.cats{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.small {
  width: 240px;
  display: flex:
  flex-direction: column;

}
h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.newbites {
  diaplay: flex;
  flex-direction: column;
  align-items: center;
}

.newsbites_text {
  margin: 0;
  padding-left: 0px;
}


.newsbites_text ul {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style-type:none;

}

.newsbites_text ul li {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid black;
}

.footer {
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  min-height: 300px;
  min-width: 1220px;
  margin: 50px 5px 0px 5px;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;


}

.footer_content p {
  padding: 0px 5px 0px 5px;
}

#headline {
  display: flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0px 40px 0px 0px;
}

#headline_line {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0px 30px 0px 0px;
}

.second_line p {
    text-align: center;
}
