div {
  border: 1px solid black;
}
div.header {
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-content: center;
  margin: 0px 0px 10px 0px;
}

.navigation {
  display: inline-flex;
}

div.header li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px 15px 0px 0px;

}
.logo {
  display: inline-flex;
  color: aquamarine;
  display:inline-flex;
  padding: 0px 0px 0px 15px;

}

.logo p {
  display: inline-flex;
  padding: 10px 0px 0px 5px;

}



.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.large {
  width: 630px;
  display: flex;
  flex-direction: column;

}

.column_large_head {
  border-bottom: 1px solid black;
}

.medium {
  width: 300px;
  display: flex:
  flex-direction: column;


}

.small {
  width: 240px;
  display: flex:
  flex-direction: column;
}
